<head>
<link rel="style.css" href="style.css">
#navy {
    background-color: #001f3f;
    color: #fff;
    float: left;
    width: 25%;
    height: 150px;
  }
  
  #teal {
    background-color: #39CCCC;
    color: #fff;
    float: left;
    width: 25%;
    height: 150px;
  }
  
  #blue {
    background-color: #0074D9;
    color: #fff;
    float: left;
    width: 25%;
    height: 150px;
  }
  
  #aqua {
    background-color: #7FDBFF;
    color: #fff;
    float: left;
    width: 25%;
    height: 150px;
  }
  
  #footer {
    background-color: #666;
    color: #fff;
    clear: both;
  }
  </head